<header class="site-header">
  <div class="container">

    <div class="logo">
      <a href="../index.html" class="logo-link">
        <img src="../assets/logo/logo_intervalle.png" class="logo-img">
      </a>
    </div>

    <nav class="site-nav">
      <a href="accompagnement.html">Accompagnement</a>
      <a href="entreprises.html">Entreprises</a>
      <a href="distance.html">À distance</a>
      <a href="histoire.html">L’INTERVALLE</a>
      <a href="contact.html">Contact</a>
    </nav>

  </div>
</header>